@mixin buttonClickable{
    display: block;
    width: fit-content;
    background-color:#f3f3f3;
    font-weight: 500;
    padding: 10px 25px;
    border: 1px solid rgba(60,60,60,0.2);
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        background-color: #d1d1d1;
    }
    &:active{
        background-color: #b1b1b1;
        transform: translateY(1px);
    }
}
.submitBtn{
    @include buttonClickable();
    margin: 10px 0px;
    font-size: 0.8rem;
}