.intersection__section{
    position: relative;
    z-index: 2;
    background-color: rgba(60, 60, 60, 0.8);
    left: 0px;
    padding: 40px 50px;
    box-shadow: 2px 3px 4px 2px rgba(60,60,60,0.2);

}
.intersection__section__container{
    max-width: 1000px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 40% 60%;
}
.intersection__section__container__title{
    margin: 0;
    padding: 0;
    color: #fff
}
.intersection__section__container__message{
    margin: 0;
    padding: 0;
    color: #fff

}